#timerModal.modal.fade data-backdrop='static'
  .modal-dialog
    .modal-content
      .modal-header
        h2.modal-title id='timerTitle'
      .modal-body
        = audio_tag 'msonarsub.mp3', loop: true, id: 'timerAudio'
        .row
          .col-xs-4.col-xs-offset-4
            #timer
        br
        .row
          .col-xs-12
            .well
              h4 Add a remembered activity to AI
              #timerAddForm
      .modal-footer
        button[type='button' class='btn btn-lg btn-success'
          id='timerLongRestButton' onClick='Oxheart.Workspace.startLongRest()']
          | Start LONG rest
        button[type='button' class='btn btn-lg btn-success'
          id='timerRestButton' onClick='Oxheart.Workspace.startRest()']
          | Start SHORT rest
        button[type='button' class='btn btn-lg btn-success'
          id='timerReturnButton'
          onClick='Oxheart.Workspace.returnToWorkspace()']
          | Return to workspace
        button[type='button' class='btn btn-danger btn-lg'
          id='timerCancelButton'
          onClick='Oxheart.Workspace.cancelPomodoro()'] Cancel pomodoro

#root
