.row
  .col-xs-10.col-sm-6.col-md-5.col-lg-5
    = form_for @settings, url: settings_path, method: :patch do |f|
      .row
        .col
          = f.error_messages
      .row
        .col-xs-4.col-lg-4
          = label "work_length", "Work length"
        .col-xs-6.col-lg-6
          = f.number_field(:work_length, size: 3)
          |&nbsp;minutes
      .row
        .col-xs-4.col-lg-4
          = label "short_rest_length", "Short rest length"
        .col-xs-6.col-lg-6
          = f.number_field(:short_rest_length)
          |&nbsp;minutes
      .row
        .col-xs-4.col-lg-4
          = label "long_rest_length", "Long rest length"
        .col-xs-6.col-lg-6
          = f.number_field(:long_rest_length)
          |&nbsp;minutes
      .row
        .col-xs-6.col-lg-6
          = f.submit "Save", class: "btn btn-large btn-success"
