@import "bootstrap/variables";
@import "bootstrap/mixins/opacity";
@import "bootstrap/mixins/vendor-prefixes";

// Color definitions
$blackish:  #4d4d4d;
$grayish: lighten($blackish, 30);
$greenish: #85ada7;

body.busy *, body.busy {
  cursor: progress !important;
}

// Menu buttons should have space between them.
nav ul > li a.btn {
  margin-right: 3px;
  margin-left: 3px;
}

h1, h2, h3 {
  color: $blackish;
}

h2.taskList {
  text-align: center;
}

ul.taskList {
  list-style-type: none;
  padding-left: 0px;
  // FIXME: should really take 100% of parent and parent should use all
  // available screen.
  height: 300px;
  overflow-y: scroll;
}

li.taskItem {
  border-bottom: 1px dotted #ccc;
  color: $blackish;
  font-size: $font-size-h4;
  font-weight: 200;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.centeredText {
  text-align: center;
}

.timeLeft {
  @extend .centeredText;
  font-size: $font-size-h1;
}

.label {
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    @include opacity(.65);
    @include box-shadow(none);
  }
}

// Color classes
.darkRed {
  color: DarkRed;
}

.grayish {
  color: $grayish;
}


.spentBadge {
  background-color: $btn-danger-bg;
}

.lengthBadge {
  background-color: green;
}

.streakBadge {
  background-color: #f0ad4e;
}

.taskDoneName {
  text-decoration: line-through;
  color: $grayish;
}

.noAppearance {
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
}

// So that 'after' content properly replaces checkbox.
.mobileSafariCheckboxFix {
  height: auto;
  border: none;
}

.errorExplanation {
  background: #FFA791;
  margin: 1em;
  border: 1px solid #F30;
  padding: 10px;
}

input[type=checkbox].replacedWithAfter {
  @extend .noAppearance;
  @extend .mobileSafariCheckboxFix
}

// 'Pomodoro length' input.
input[type=text].task_length {
  width: 3em;
}

// 'Pinned' checkbox.
input[type=checkbox].recurrent {
  @extend input[type=checkbox].replacedWithAfter;
}

input[type=checkbox].recurrent:after {
  font-family: FontAwesome;
  content: "\f01e";
  color: $grayish;
}

input[type=checkbox].recurrent:checked:after {
  color: $blackish;
}

// 'Done' checkbox.
input[type=checkbox].done {
  @extend input[type=checkbox].replacedWithAfter;
}

input[type=checkbox].done:after {
  content: "✔";
  color: $grayish;
}

input[type=checkbox].done:checked:after {
  color: $greenish;
}
