<!DOCTYPE html>
<html>
<head>
  <title><%= APP_NAME %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if controller_name == "workspace" %>
    <meta name="turbolinks-cache-control" content="no-cache">
  <% end %>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <% if Rails.env.test? %>
   <style type="text/css">
      .modal.fade, .fade {
	-webkit-transition: opacity 0.01s;
	-moz-transition: opacity 0.01s;
	-ms-transition: opacity 0.01s;
	-o-transition: opacity 0.01s;
	transition: opacity 0.01s;
      }
   </style>
  <%end%>
  <%= csrf_meta_tags %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <%= link_to APP_NAME, root_path, :class => 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
	<% if user_signed_in? %>
          <li <%= menu_item_active_inactive_class('workspace')  %>><%= link_to 'Workspace', workspace_path %></li>
          <li <%= menu_item_active_inactive_class('settings')  %>><%= link_to 'Settings', settings_path %></li>
	<% end %>
	<li>
          <a href="mailto:ledestin@gmail.com?subject=<%= APP_NAME %>">Contact</a>
	</li>
      </ul>

      <form class="navbar-right">
	<ul class="nav navbar-nav navbar-right">
	  <% if user_signed_in? %>
	    <li>
	      <p class="navbar-text"><%= current_user.email %></p>
	    </li>
	    <li>
	      <p class="navbar-btn">
		<%= link_to 'Sign out', destroy_user_session_path,
		  :class => 'btn btn-default', :method => :delete %>
	      </p>
	    </li>
	  <% else %>
	    <li>
	      <p class="navbar-btn">
		<%= link_to 'Sign up', new_user_registration_path,
		  :class => 'btn btn-default' %>
	      </p>
	    </li>
	    <li>
	      <p class="navbar-btn">
		<%= link_to 'Login', new_user_session_path,
		  :class => 'btn btn-default' %>
	      </p>
	    </li>
	  <% end %>
	</ul>

      </form>
    </div>
  </div>
</nav>

<% if flash[:success] %>
  <p class="alert alert-success"><%= flash[:success] %></p>
<% end %>
<% if notice %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert%>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div class="container-fluid">
  <% unless controller.is_a? DeviseController %>
    <%= yield %>
  <% else %>
    <!-- Ensure Devise forms take less than full width of the page -->
    <div class="row">
      <div class="col-xs-8 col-lg-6">
	<%= yield %>
      </div>
    </div>
  <% end %>
</div>

</body>
</html>
